body {
  background-color: var(--base-color);
  color: var(--text-color);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Iosevka";
  font-size: 4rem;
}

button {
  background-color: var(--overlay-color);
  color: var(--text-color);
  border-style: none;
  border: 0.3rem solid var(--text-color);
  border-radius: 1rem;
  padding: 1rem;
}