@font-face {
  font-family: 'Iosevka';
  src: url('../assets/fonts/iosevka-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../assets/fonts/iosevka-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}